@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;

  --sidebar: #f4f4f5;
  --sidebar-border: #d4d4d8;

  --card: #ffffff;

  --primary: #06b6d4;
}

[data-theme="dark"] {
  --background: #09090b;
  --foreground: #fafafa;

  --sidebar: #09090b;
  --sidebar-border: #27272a;

  --card: #18181b;

  --primary: #06b6d4;
}

html,
body {
  margin: 0;
  padding: 0;

  background-color: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
